.custom-pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
 }
 
 .custom-pagination li {
  margin: 0 5px;
 }
 
 .custom-pagination li a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  text-decoration: none;
 }
 
 .custom-pagination li.active a {
  background-color: rgb(37, 99, 88);
  color: white;
 }
 
 .disabled {
  display: none;
 }

.pagination-sm li:first-of-type,
.pagination-sm li:nth-of-type(4) {
  display: none;
}

.pagination-sm li:nth-of-type(2),
.pagination-sm li:nth-of-type(3) {
  margin-top: 6px;
}