:root {
    --offwhite: rgb(161, 161, 161);
    --seafoam: rgb(207, 222, 207);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-logo {
    margin-left: 20px;
    max-width: 100px;
    max-height: 100px;
}

#navbar {
    display: flex;
    background-color: var(--seafoam);
}

.navbarEl {
    color: var(--offwhite);
    text-decoration: none;
}

li {
    margin-left: 80px;
    gap: 20px;
    margin-top: 50px;
    display: inline-block;
    padding: 10px 10px 10px 30px;
}

li a:hover,
#login:hover {
    color:crimson;
    text-decoration: none;
}

#login {
    margin-left: 80px;
}

/* header {
    width: 100%;
} */
