* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.custom-pagination li {
  margin: 0 5px;
}

.custom-pagination li a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  text-decoration: none;
}

.custom-pagination li.active a {
  background-color: rgb(37, 99, 88);
  color: white;
}

.disabled {
  display: none;
}

.pagination-sm li:first-of-type,
.pagination-sm li:nth-of-type(4) {
  display: none;
}

.pagination-sm li:nth-of-type(2),
.pagination-sm li:nth-of-type(3) {
  margin-top: 6px;
}

.padding-override {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.box-shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.styled-image {
  border-radius: 10px;
}
